/* Style the nav */
nav {
	width:100%;
	height:50px;
	background-color:black;
}

/* style the containor and border views */
.containor {
	min-height:100%;
	width:100%;
	padding:0px;
	margin:0px;
	position:relative:
}

.header {
	top:0;
	width:100%;
	padding:0px;
	margin:0px;
	position:absolute;
}

.body {
	padding:0px;
	margin:0px;
	border-bottom:80px;
	position:absolute;
}

.footer {
	height:80px;
	bottom:0;
	text-color:gray;
}


/* Style the tab */

.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	width:98%;
	height:48px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	background-color:inherit;
	float:left;
	border:none;
	outline:none;
	cursor:pointer;
	padding:14px 16px;
	transition:0.3s;
	font-size:17px;
}

/* Change background collor of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* create and active/curent tablink class */
.tab button.active {
	background-color:#ccc;
}

/* Style the tab content */
.tabcontent {
	display:none;
	padding:6px 12px;
	border:1px solid #ccc;
	border-top:none;
}
